- title ("Home |")
#top.home-jumbotron
  .container
    %h1 Quick Brown Fox Jumps
    %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    %p
      %a.btn.btn-warning.btn-lg
        Sign Up Today
        %span.glyphicon.glyphicon-circle-arrow-right

    %h1 Quick Brown Fox Jumps
    %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    %p
      %a.btn.btn-warning.btn-lg
        Sign Up Today
        %span.glyphicon.glyphicon-circle-arrow-right

    %h1 Quick Brown Fox Jumps
    %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    %p
      %a.btn.btn-warning.btn-lg
        Sign Up Today
        %span.glyphicon.glyphicon-circle-arrow-right

    %h1 Quick Brown Fox Jumps
    %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    %p
      %a.btn.btn-warning.btn-lg
        Sign Up Today
        %span.glyphicon.glyphicon-circle-arrow-right
  / /.container